<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Reco-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Reco.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>VoiceGraph.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C1D68171FA3625300BF8218</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C1D682A1FA3625300BF8218</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CC3AEF72008C3D700E22624</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CC3AF0C2008C3D700E22624</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CEC07B71FBB49A600D5DAD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
